<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/layout :: head">
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<h2>Delete Blog</h2>
<p>
    <a th:href="@{/category}">Back to Blogs list</a>
</p>
<div id="form">
    <form action="/category/delete" th:object="${categoryList}"
          method="POST" novalidate="novalidate">
        <div>
            <input type="hidden"  th:field="*{id}"/>
        </div>
        <div>
            <label>Category Name</label>
            <input type="text" th:field="*{nameCategory}"/>
        </div>

        <input type="submit" value="Delete"/>
    </form>
</div>
<footer th:replace="blog/layout :: footer"></footer>
</body>
</html>