<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>show product</title>
</head>
<body style="background-image:url(https://www.ngoisaoso.vn/uploads/news/2015/03/19/Best-Website-Background-Images14.jpg)">
<h1>Product List</h1>
<p>
    <a th:href="@{/product/create}">
        Add new product
    </a>
</p>

    <form class="d-flex" role="search" action="" method="get">
        <input  type="search" placeholder="Search" aria-label="Search" name="name">
        <button  type="submit" style="background: chartreuse">Search</button>
    </form>
<!--<form class="d-flex" role="search" action="/search" method="get">-->
<!--    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name">-->
<!--    <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--</form>-->
<h3 th:text="${success}" style="color: red"></h3>
<h3 th:text="${messa}" style="color: blue"></h3>
<h3 th:text="${masse1}" style="color: black"></h3>
<!--<p style="color: blue" th:text="${masse}"></p>-->
<table id="products">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Describe</th>
        <th>Producer</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${product}">
        <td th:text="${row.name}"></td>
        <td th:text="${row.price+' VND'}"></td>
        <td th:text="${row.newDescribe}"></td>
        <td th:text="${row.producer}"></td>
        <td><a th:href="@{/product/edit/__${row.id}__}"><i class="fa-solid fa-pen-to-square"></i></a></td>
        <td><a th:href="@{/product/delete/__${row.id}__}"><i class="fa-solid fa-trash"></i></a></td>
        <td><a th:href="@{/product/view/__${row.id}__}"><i class="fa-sharp fa-solid fa-eye"></i></a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>

</body>
</html>