<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
<h2>Delete Blog</h2>
<p>
    <a th:href="@{/}">Back to Blogs list</a>
</p>
<div id="form">
    <form action="/delete" th:object="${blogs}"
          method="POST" novalidate="novalidate">
        <div>
            <input type="hidden"  th:field="*{id}"/>
        </div>
        <div>
            <label>Creator Blog</label>
            <input type="text" th:field="*{creatorBlog}"/>
        </div>
        <div>
            <label>Name Blog</label>
            <input type="text" th:field="*{nameBlog}"/>
        </div>
        <div>
            <label>Date Created</label>
            <input type="date" th:field="*{dateCreated}"/>
        </div>
        <div>
            <label>Content</label>
            <input type="text" th:field="*{content}"/>
        </div>
        <div>
            <label>Link Blog</label>
            <input type="text" th:field="*{linkBlog}"/>
        </div>
        <input type="submit" value="Delete"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>